uvicorn==0.15.0
pydantic==1.8.2
fastapi==0.68.1
python-dotenv==0.19.0
docker==5.0.2

# for linting, testing and coverage
autopep8==1.5.7
async-asgi-testclient==1.4.6
pylint==2.11.1
pytest==6.2.5
pytest-asyncio==0.15.1
pre-commit==2.15.0
coverage==5.5
lxml==4.6.3
mypy==0.910
python-multipart==0.0.5
aiofiles==0.7.0
types-requests==2.25.9

# Workaround https://github.com/tiangolo/fastapi/issues/2595
requests==2.26.0
